.swiper-button-prev {
    left: 40px;
    color: #5f5f5f;
    transition: 0.3s;
}
.swiper-button-prev::after {
    font-size: 1.5rem;
    color: inherit;
    font-weight: bolder;
}
.swiper-button-prev:hover {
    color: #fff;
}
.swiper-button-next {
    right: 40px;
    color: #5f5f5f;
    transition: 0.3s;
}
.swiper-button-next::after {
    font-size: 1.5rem;
    font-weight: bolder;
    color: inherit;
}
.swiper-button-next:hover {
    color: #fff;
}
.swiper-pagination-bullet {
    border-radius: 0;
    width: 30px;
    height: 2px;
    background: #ffffff;
    opacity: 1;
}
.swiper-pagination-bullet-active {
    background-color: #ff6a28;
}